{%- if current_version %}
<div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
  <span class="rst-current-version" data-toggle="rst-current-version">
    <span class="fa fa-book"> Other Versions</span>
    v: {{ current_version.name }}
    <span class="fa fa-caret-down"></span>
  </span>
  <div class="rst-other-versions">
   
    {% if versions.releases %}
    <!-- 显示 -->
    <dt>{{ _('Releases') }}</dt>
    <dl>
      {%- for item in versions.releases %}
      <dd><a href="{{ item.url }}">{{ item.name }}</a></dd>
      {%- endfor %}
    </ul>
    {% endif %}
    {% if versions.in_development %}
    <dt>{{ _('In Development') }}</dt>
    <dl>
      {%- for item in versions.in_development %}
      <dd><a href="{{ item.url }}">{{ item.name }}</a></dd>
      {%- endfor %}
    </ul>
    
    {% endif %}
  
  </div>
</div>
{%- endif %}